@import "tailwindcss";

:root {
  /* This forces the background to be white */
  --background: #ffffff; 
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* IMPORTANT: I have removed the @media (prefers-color-scheme: dark) block.
   This prevents the website from turning black.
*/

body {
  background-color: white !important; /* Forces white */
  color: #171717;
  margin: 0;
}